#header {
    text-align: right;
    background: #a30000;
    color: white;
    font-size: 13px;
}
#header .contact-header {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#header .info-phone::before {
    content: "\e090";
    position: relative;
    top: 2px;
    margin-right: 2px;
}
#header .info-email::before {
    content: "\e076";
    position: relative;
    top: 2px;
    margin-right: 2px;
}
#header .main-header {
    background-color: white;
    text-align: left;
}
#header .main-header .logo {
    height: 50px;
}
#footer {
    background: #a30000;
    color: white;
    font-size: 13px;
}