<!DOCTYPE html>
<html>
<head>
    <title>Wrapper</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="outer" class="wrapper">
        <!--BEGIN header-->
        <header id="header" class="region">
            <div class="contact-header">
                <span class="info-phone">(859) 282-4867</span>
                <span class="info-email">triggersflorence@gmail.com</span>
            </div>
            <div class="main-header">
                <img class="logo" src="/static/img/triggers.png">
            </div>
        </header>
        <!--END header-->
        <div id="inner" class="wrapper">
            <!--BEGIN main-->

            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi minima corporis ullam repellat et atque molestias possimus repudiandae blanditiis mollitia sapiente labore temporibus, laborum tenetur ipsa! Nam corrupti assumenda incidunt.</p>

            <!--END main-->
        </div>
        <!--BEGIN footer-->
        <div id="footer" class="region">
            <p>Copyright © 2015 - 2022 Triggers Firearms</p>
        </div>
        <!--END footer-->
    </div>
</body>
</html>